<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="modalLabel">Excluir Jedi</h4>
</div>
<div class="modal-body">
	Deseja realmente excluir o jedi {{jediDeleteCtrl.jedi.name}}?
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="jediDeleteCtrl.deleteJedi()">Sim</button>
	<button type="button" class="btn btn-default" ng-click="jediDeleteCtrl.close()">N&atilde;o</button>
</div>

